@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sons-serif;
}
button{
    text-align: center;
    font-weight: 600;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
}

.header,.footer{
    height: 70px;
    background-color: #1F2937;
}

.header{
    padding: 0 150px 0 150px;
    display: flex;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
}
.header div{
    flex: 1;
    display: flex;
}
.header_logo{
    font-size: 24px;
    font-weight: 900;
    justify-content: left;
}
.textLonD{
    justify-content: right;
    gap: 20px;
}

a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.top{
    padding: 0 150px 0 150px;
    height: 450px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_text{
    flex: 1;
    padding: 30px;
}
.main_text h1,
.main_text h5,
.main_text button{
    margin: 0;
    margin-bottom: 10px;
}
.imgplace_holder{
    background-color: gray;
    color: white;
    font-weight: 600;
    height: 50%;
    align-content: center;
    text-align: center;
    flex: 1;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
h2{
    font-size: 46px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0%;
}
h4{
    font-size: 16px;
    opacity: 60%;
    max-width: 90%;
    margin: auto;
}
h5{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
    opacity: 50%;
}

.mid{
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.products{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.products div{
    flex: .15;
    text-align: center;
}

.pass_size_photo{
    margin: 10px;
    aspect-ratio: 1 / 1;
    border: solid 4px #3882f6;
    border-radius: 10%;
}
.products_text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.testimonial{
    height: 450px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial div{
    width: 66%;
}

.testimonial h4{
    text-align: right;
    font-weight: 700;
    opacity: 100%;
    font-size: 24px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot_banner{
    height: 40%;
    width: 80%;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F9FAF8;
}
.foot_banner h4{
    opacity: 100%;
    max-width: 100%;

}
.foot_banner button{
    border: solid 2px white;
    width: 140px;
}
.foot_banner p{
    font-size: 18px;
    margin: 0%;
    font-weight: 600;
    opacity: 60%;
}
.contact{
    height: 350px;
}